html {
    font-family: Georgia, sans-serif;
    padding-bottom: 5%;
    background-color: #18181E;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

a {
    color: #795548;
    font-weight: bold;
}


a:link {
    color: #795548;
    font-weight: bold;
}


a:visited {
    color: #795548;
    font-weight: bold;
}


a:hover {
    color: #795548;
    font-weight: bold;
}


a:active {
    color: #795548;
    font-weight: bold;
}